.wrapper {
  margin-top: 20px;
  margin-left: 20px;
}

.progress {
  display: flex;
}
.legend {
  display: flex;
  margin-top: 20px;
}

.progress-item {
  width: 10px;
  height: 30px;
  border-radius: 10px;
  margin-right: 2px;
}

.progress-legend-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.legend-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend-title {
  font-size: 12px;
}
